.input_wrapper {
  height: 100px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon_link {
  width: 100%;
  border-top: 1px solid #dee2e6;
  font-size: 16px;
}

.pokemon_link a {
  display: block;
  padding: 20px;
}

.pokemon_link a:link, .pokemon_link a:visited {
  color:black;
}

.pokemon_link a span{
  padding-right: 20px;
}